<div ng-app="controlPanel" class="container">

    <table class="table">
        <tr>
            <td>Select:</td>
            <td>

                <select class="selectpicker" data-live-search="true"  title="Choose DataSet...">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>


            </td>
        </tr>

        <tr>
            <td>Compare:</td>
            <td>
                <select class="selectpicker" data-live-search="true" multiple data-max-options="3">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </td>
        </tr>
        <tr>
            <td>From:</td>
            <td>
                ...
            </td>
        </tr>
        <tr>
            <td>To:</td>
            <td>
                ......
            </td>
        </tr>
    </table>

</div>

<script type="text/javascript">


</script>

