<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>


    <!-- Bootstrap CSS & JS-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>


    <!-- Bootstrap select -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>


    <!-- Bootstrap Datepicker -->
    <script src="/static/bootstrap_datepicker/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap_datepicker/css/bootstrap-datepicker3.min.css">


    <!-- amCharts-->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


    <!-- Date range picker -->
    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>


    <title>CMPS276</title>
</head>


<body ng-app="myApp">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Data Visualization</a>
        </div>

    </div>
</nav>

<div class="container-fluid">


    <!-- DATA VISUALIZATION START -->
    <div class="panel panel-default" name="dataVisualization">
        <div class="panel-heading">
            <h3 class="panel-title">Data Visualization Panel</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <!-- CONTROL PANEL -->
                <div class="col-sm-3">
                    <table>
                        <tr>
                            <td>
                                <label>Select:</label> <br>
                                <select class="selectpicker" data-live-search="true" title="Choose DataSet...">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Compare:</label> <br>
                                <select class="selectpicker" data-live-search="true" multiple data-max-options="3">
                                    <optgroup label="Picnic">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </optgroup>
                                    <optgroup label="Camping">
                                        <option>Tent</option>
                                        <option>Flashlight</option>
                                        <option>Toilet Paper</option>
                                    </optgroup>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Time Span:</label>
                                <div>
                                    <input id="timeSpan" type="text" class="form-control" name="timeSpan"
                                           value="04/17/2016 - 04/18/2016"/>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <br><br>
                                <button id="refreshButton" onclick="refresh();" type="button"
                                        class="btn btn-info btn-block">Refresh
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>


                <!-- DATA VISUALIZATION amChart -->
                <div class="col-sm-9">
                    {#                    <div id="chartdiv"></div>#}
                    {% include 'data_visualization_panel.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- DATA VISUALIZATION END -->

    <!-- DATA DETAIL START -->
    <div class="panel panel-default" name="dataDetail" ng-controller="dataDetailController">
        <div class="panel-heading">
            <h3 class="panel-title">Data Detail Panel</h3>
        </div>
        <div class="panel-body">

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Message</a></li>
                <li role="presentation"><a href="#">Output</a></li>
                <li role="presentation"><a href="#">Logs</a></li>
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                          </span>
                    </div>
                </form>


            </ul>

            <table class="table table-hover">
                <thead>

                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Age</th>
                    <th>Time Stamp</th>

                </tr>
                </thead>
                <tbody id="dataTableBody">

                <tr>
                    <th scope="row">1</th>
                    <td>@fake</td>
                    <td>fake123</td>
                    <td>faletom</td>
                    <td>fakejack</td>
                    <td>fake23</td>
                    <td>fake23</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>@fake</td>
                    <td>fake123</td>
                    <td>faletom</td>
                    <td>fakejack</td>
                    <td>fake23</td>
                    <td>fake23</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>@fake</td>
                    <td>fake123</td>
                    <td>faletom</td>
                    <td>fakejack</td>
                    <td>fake23</td>
                    <td>fake23</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- DATA TABLE END -->

</div>

<script>
    angular.module('myApp', []).service('data', function () {
        return [
            {
                id: 3333,
                name: 'iphone',
                price: 5400
            }, {
                id: 2134,
                name: 'iphone2',
                price: 2400
            }, {
                id: 1435,
                name: 'iphone4',
                price: 4400
            }, {
                id: 4636,
                name: 'iphone5',
                price: 5200
            }
        ];
    }).controller('dataDetailController', function ($scope, data) {
        $scope.data = data;
        $scope.orderType = 'id';
        $scope.order = ''; // descending

        $scope.changeOrder = function (type) {
            $scope.orderType = type;
            if ($scope.order === '') {
                $scope.order = '-';
            } else {
                $scope.order = '';
            }
        }
    });

</script>
<script type="text/javascript">


    // ------------  Refresh Button  ------------
    function refresh() {
        {#        alert("you clicked refresh");#}

        var timeSpan = $('#timeSpan').val();

        $.ajax({
            'url': '/getData',
            'type': 'get',
            'dataType': 'json',
            'data': {'timeSpan': timeSpan },
            'success': function (data) {
                // data is from the server side
                $('#dataTableBody').empty();
                for (var i = 0; i < data.length; i++) {
                    var s = data[i];
                    $('#dataTableBody').append('<tr> <th scope="row">' + (i + 1) + '</th> <td>' + s.username + '</td> <td>' + s.password + '</td> <td>' + s.last_name + '</td> <td>' + s.first_name + '</td> <td>' + s.age + '</td> <td>' + s.timestamp + '</td></tr>');
                }
            },
            'error': function () {
                $('#dataTableBody').empty();
                //alert('Whoops, It seems we got a slight problem here');
                $('#dataTableBody').append("<tr> <td colspan='3'> We got a problem here </td> </tr>");
            }

        });
    }

    // ------------  Date Picker  ------------
    $(function () {
        $('input[name="timeSpan"]').daterangepicker();
    });


</script>
</body>

</html>